#link-create {
    float: right;
    margin-top: 20px;
    margin-bottom: 5px;
}

td a {
    font-style: italic;
    text-decoration: underline;
}

#preview {
    position: fixed;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
    margin: 0px;
}

#searchForm {
    border: 2px solid black;
    padding: 20px;
    padding-bottom: 15px;
    position: relative;
}

.text-search {
    margin-bottom: 15px;
}

.text-search input {
    width: 200px;
    display: inline-block;
    margin-left: 10px;
}

.sex-search {
    float: left;
}

.sex-search p {
    margin-bottom: 1px;
    font-weight: bold;
}

.sex-search label input {
    position: relative;
    top: 1px;
}

.field-male {
    margin-bottom: -5px;

}

.field-male label {
    margin-bottom: 0px;
}

.field-male .help-block {
    margin: 0;
}

.age-search {
    margin-left: 40px;
    float: left;
}

.age-search p {
    font-weight: bold;
    margin-left: 26px;
}

.age-search label {
    width: 17px;
    padding-top: 7px;
    vertical-align: top;
    margin-right: 10px;
}

.age-search input {
    width: 300px;
    display: inline-block;
}

.d1 {
    display: inline-block;
}

.field-minage, .field-maxage {
    margin-bottom: 0;
}

.field-maxage .d1 {
    margin-right: 15px;
}

.field-maxage .help-block {
    margin-bottom: 0px;
    margin-right: -42px;
}

#minage, #maxage {
    width: 100px;
}

.btn-info {
    vertical-align: top;
}